<button mat-raised-button>Create new diagram</button>
<div *ngIf="diagrams.length !== 0; else noCharts">
  <ul>
    <li *ngFor="let diagram of diagrams">
      <app-diagram-card
        [title]="diagram.title"
        [id]="diagram.id"
      ></app-diagram-card>
    </li>
  </ul>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [pageIndex]="pageIndex"
    [pageSize]="limitPerPage"
    [length]="totalPages"
  ></mat-paginator>
</div>
<ng-template #noCharts>
  <div class="empty-list">
    No diagrams yet! Click the button above to create one
    (currently not working)
  </div>
</ng-template>

